<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <img src="https://www.bing.com/images/blob?bcid=TuE7OBiOIosHj7p-0D9jDaPl9NSQ.....-M" alt="Logo BuildPro" height="90" width="auto">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mainNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                                <li class="nav-item"><a class="nav-link" href="#roles">Roles & Funcionalidades</a></li>
                                <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonios</a></li>
                                <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                                <li class="nav-item"><a class="nav-link" href="/registro">Registro</a></li>
                                <li class="nav-item"><a class="nav-link btn btn-primary" href="/login">Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</html>
