<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo de Gestión</title>
  <link rel="stylesheet" href="cliente.component.css">
</head>

<body>

  <div class="module-container">
    <h1>Hagamos magia ¿Qué deseas hacer?</h1>
    <div class="cards-container" onclick="window.location.href='GUsuarios'">
      <div class="card">
        <img
          src="https://img.freepik.com/vector-gratis/personas-mensaje-computadora-red-social_24877-53933.jpg?ga=GA1.1.397378314.1725940527&semt=ais_hybrid"
          alt="Gestionar usuarios">
        <h2>Gestionar usuarios</h2>
        <p>Agregue, elimine o bloquee usuarios</p>
      </div>
      <div class="card">
        <img
          src="https://img.freepik.com/vector-gratis/tema-calendario-reserva-citas_23-2148570827.jpg?t=st=1727230754~exp=1727234354~hmac=0ffc8a4b06dd79d147a1a51ab46137e1f6d75beb85f3ba738458c745f52b454d&w=740"
          alt="Gestionar tareas">
        <h2>Gestionar tareas</h2>
        <p>Asigne o reasigne tareas</p>
      </div>
      <div class="card">
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-casillas-verificacion_114360-2465.jpg?ga=GA1.1.397378314.1725940527&semt=ais_hybrid"
          alt="Generar reporte de inventario">
        <h2>Generar reporte de inventario</h2>
        <p>Registrar cargas de materiales</p>
      </div>
    </div>
  </div>

  <script src="scripts.js"></script>
</body>

</html>